@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
}
.navbar {
  height: 12vh;
  width: 100%;
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin :0px 20px 0px 20px; */
}
.navbar img {
  height: 89px;
  /* width: 130px; */
  margin-left: 30px;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li {
  margin: 10px;
  list-style-type: none;
}
ul li a {
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
}
ul li a:hover{
  color: crimson;
}
.donate {
  padding: 10px 30px;
  height: 50px;
  background-color: crimson;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-right: 20px;
  font-size: 1rem;
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown ul {
  font-size: 1.2rem;
}

/* Dropdown button */
.dropdown-btn {
  /* background-color: #f1f1f1; */
  background-color: none;
  /* color: white; */
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.dropdown-btn:hover{
  color: crimson;
}
/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  width: 100%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
}


/* Dropdown links */
.dropdown-content a {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover{
  background-color: crimson;
  color: #fff;
}



/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* hero-section */

.banner-imgs{
  background-image: url(https://www.aljazeera.com/wp-content/uploads/2023/12/338Y4ET-highres-1703370990.jpg?resize=1170%2C780&quality=80);
  height: 80vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin: 0px 20px 0px 40px; */
}
.banner-imgs .b1 {
  height: 80vh;
  width: 80vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 30px;
}
.b1 button{
  margin-top: 20px;
}


/* types of disasters section */
.disasters-types{
  margin: 0px;
}
.disasters-types h1{
  font-size: 4rem;
  margin: 10px 0px 20px 60px;
}
.disasters-types h2{
  font-size: 3rem;
  margin: 10px 0px 20px 70px;
}
.container{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.container .box{
  cursor: pointer;
  margin: 20px;
}
.container .box{
  width: 55vh;
}
.container .box img{
  width: 55vh;
  height: 57vh;
}
.box p{
  background-color: #ffff00;
  width: fit-content;
}
.box h3:hover{
  cursor: pointer;
  text-decoration: dashed;
}
.container .box a img:hover {
  opacity: 0.8;
  transition: 0.2s ease-in;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.hr{
  width: 90%;
  margin: 30px 50px 30px 70px ;
}

/* help-container */
.help-cont{
  margin: 50px;
  display: flex;
  justify-content: space-between;
}
.help-cont .heading{
  width: 60%;
}
.help-cont .heading h1{
  font-size: 3rem;
}
.help-cont .help-option{
  width: 50%;
}
.help-option ul{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 10px;
}
.help-option ul li i {
  margin-right: 5px;
}

/* footer  */
.footer{
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
  margin: 50px;
}
.footer .list1 li,.list2 li{
  list-style-type: none;
  margin: 10px;
}
.footer .list1 li a,.list2 li a{
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
}
.footer .list1 li a:hover{
 color: crimson;
}
.footer .list2 li a:hover{
  color: crimson;
}
.footer .list1,.list2{
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.lists{
 display: flex;
}

.dropdown-btn i{
  margin-right: 5px;
}
.feedback{
  width: 40%;
  /* border: 1px solid black; */

}
.feedback h2{
  text-align: center;

}
form{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 10vh;
}
.feedback input,select,.submit{
  width: 50vh;
  height: 30px;
  /* margin-top: 10px; */
  margin-bottom: 10px;
  border: none;
}
.feedback input,select,.submit:hover{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.feedback .submit{
  margin-top: 20px;
  height: 35px;
  background-color: crimson;
  color: #fff;
  border-radius: 5px;
}
.copywrite{
  text-align: center;
  height: 30px;
  padding: 10px;
  background-color: crimson;
  color: #fff;
}